 /* Studio Footer */
 
 .footer-logo {
   color: var(--white-color);
   font-family: "Raleway", sans-serif;
   font-size: 26px;
   line-height: 1.19;
   display: inline-block;
   padding-top: 0;
   padding-bottom: 0;
   margin-bottom: 20px;
 }
 
 .footer-logo-web {
   color: var(--accent-color);
   font-family: "Raleway", sans-serif;
   font-size: 26px;
   line-height: 1.19;
 }
 

 .address {
   width: 231px;
   margin: 0;
   padding: 0;
   display: block;
 }
 
 .footer-address {
   color: var(--white-color);
   font-style: normal;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   padding-top: 0;
   padding-bottom: 0;
   display: inline-block;
   &:hover,
   &:focus {
     color: var(--accent-color);
   }
 }
 
 .footer-item {
   margin-bottom: 9px;
 }
 
 .footer-list .footer-item + &{
   margin-bottom: 9px;
   .footer-list &:last-child {
      margin-bottom: 0;
    }
 }
 

  
 .footer-link {
   color: var(--footer-text-color);
   font-style: normal;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   padding-top: 0;
   padding-bottom: 0;
   &:hover,
   &:focus {
     color: var(--accent-color);
   }
 }
 